# URL of the backend API
# For local development: http://localhost:5001/api
# For production (Vercel): URL of your deployed backend + /api (e.g. https://your-backend.vercel.app/api)
REACT_APP_API_URL=https://own-school-backend.vercel.app
DISABLE_ESLINT_PLUGIN=true
